# Unity
Library/
Temp/
Obj/
Build/
UserSettings/

# Visual Studio
.vs/
*.csproj
*.unityproj
*.sln

# Rider
*.csproj.DotSettings
*.sln.DotSettings

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
